//===========================
//  Global config
//===========================

// Font Stacks

$font-url--google       :  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
$font-family--primary   :  'Poppins', sans-serif; 

// Color Scheme 

$color-primary-1          :   #64b6ac;
$color-primary-2          :   #c0fdfb;
$color-secondary-1        :   #fad4c0;
$color-secondary-2        :   #fee9e1;
$color-tertiary-1         :   #b09ee9;
$color-clash-1            :   #BC7A64;
$color-clash-2            :   #D7E99E;





// Breakpoints 

$breakpoint-xs    :1px;
$breakpoint-s     :485px;
$breakpoint-m     :752px;
$breakpoint-l     :976px;
$breakpoint-xl    :1244px;



