
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
	font-size: 16px;
}

.container-outer{
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0;
padding:0;
background-color:rgba($color: $color-tertiary-1, $alpha: 0.4);
}

.container-inner{
	margin: 0px 10%;
	max-width: 1440px;
}

a{
	text-decoration: none;
	}

.strong{
	font-weight: bold;
}


