.btn{
text-decoration: none;
}

//============general buttons ============


.btn-imgs{
    background-color: $color-secondary-2;
    border:solid 3px $color-tertiary-1;
    margin: 20px 0px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    &:hover{
        background-color: $color-secondary-1
    }
}
