.btn{
text-decoration: none;
}

//============general buttons ============


.btn-imgs{
    background-color: $color-secondary-2;
    border:solid 3px $color-tertiary-1;
    margin: 20px 0px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    &:hover{
        background-color: $color-secondary-1
    }
}

#btn-clear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $color-secondary-2;
    border: 3px solid $color-tertiary-1;
    border-radius: 5px;
    visibility: hidden;
    p{
        padding: 0;
        margin: 0;
    }
}


