//========= Container Margin ==============

@include mq(extra-large) {
    .container-inner{
        margin: 0 6%;
    }

}


@include mq(extra-large) {
    .container-outer{
        align-items: center;
    }
  
}
//==========Footer Bot Layout =================

%main-lo {
    @include mq(extra-large){
    .btn-box{
        flex-direction: row;
    }
}

    @include mq(large) {

            .content-container{
                flex-direction: row; 
            }
        
            .box-outer{
                width: 45vw;  

            }


            .email-pushed{
                font-size: 20px;
            }
        
    }
}

