//========= Container Margin ==============

@include mq(extra-large) {
    .container-inner{
        width: 88%;
    }
}

//==========Footer Bot Layout =================

%main-lo {
    @include mq(large) {

            .content-container{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;
            }

            .content-container>*{
                flex: 1 1 calc(50% - 80px);
            }

            .btn-box{
                display: flex;
                flex-direction: row;
                gap: 40px;

            }
            
    }
}


